@media screen and (min-width: 600px) {

  #narration {
    width: 60vw;
    height: 100vh;
    max-width: 500px;
    top: 0;
  }

  #map {
    width: 40vw;
    /*left: 40vw;*/
    height: 100vh;
    border: 0;
    z-index: 0;
  }

  #title {
    width: 60vw;
    max-width: 500px;
    top: 0;
  }

  .leaflet-control-attribution {
    visibility: visible;
  }

}
